<?xml version="1.0" encoding="UTF-8"?>
<plugin name="Neava">
 <author>RavelinW</author>
 <version>0.1</version>
 <naev_version>&gt;=0.13.0-0, &lt;0.14.0</naev_version>
 <priority>1</priority>
 <total_conversion/>
 <description>A total conversion for Naev that adds a reimagined Novaverse. </description>
 <source>https://github.com/triskelion-voidsaints/naeva</source>
 <whitelist>^events/hypergate.lua</whitelist>
 <whitelist>^events/wormhole.lua</whitelist>
</plugin>
